<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="mssp" xmlns:ng="http://angularjs.org" class="ng-app:app" id="ng-app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Etandon Application Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="js/page-default.js"></script>
    <script>
  	(function(angular) {
	  'use strict';
		myApp.controller("mainPage", ['$scope','dataFetch', function($scope,dataFetch) {
			$scope.phonenumber=""; 
			$scope.totalNumbers=0;
			$scope.showTotalNumbers=false;
			$scope.listAlphaNumeric=[];
			$scope.loadApplicationData=function(){
				 var command="command=getCount&input="+$scope.phonenumber;
				 dataFetch.getSingle(command).success( function(response) {
					 $scope.totalNumbers=response;
					 $scope.showTotalNumbers=true;
					 var commandInner="command=getInitialList&input="+$scope.phonenumber;
					 dataFetch.getSingle(commandInner).success( function(response1) {
						       $scope.listAlphaNumeric=response1;
						       $scope.offset=0;
							  });
				  });				 
			 };			 
			 $scope.validationMessage="";
			 $scope.showValidationError=false;
			 $scope.validatePhoneNumber = function(){
				 var length=$scope.phonenumber.length;
				 if(length == 7 || length==10)
					{
					 if((/^\d+$/).test($scope.phonenumber) )
						 {
						  $scope.showValidationError=false;
						  $scope.validationMessage="";
						  $scope.loadApplicationData();
						 }
					 else
					    {
						 $scope.showValidationError=true;
						 $scope.validationMessage="Phone number cannot contain non-numbers.";
						 $scope.showTotalNumbers=false;
					    } 
					}
				 else
					 {
					  $scope.showValidationError=true;
					  $scope.validationMessage="Length of Phone Number should be 7 or 10. Current Length: "+length;
					  $scope.showTotalNumbers=false;
					  }
				 };	 
				 $scope.columns={"data": [{"header": "Alpha Numberic Phone Numbers","checked": true}]};
				 $scope.loadsPerPage=25;
					$scope.offset=0;
					$scope.displayPage=true;
					$scope.paginationRange=function(){
						var pages=0;
						if($scope.listAlphaNumeric  != undefined){
						var elements=$scope.totalNumbers;
						pages=Math.ceil(elements/$scope.loadsPerPage);
						}
						return pages;
					};
					$scope.currentPage=function(){
					    var page=0;
					    if($scope.offset != undefined){
					    	page=($scope.offset/$scope.loadsPerPage)+1;
					    }
						return page;	
					};
					$scope.previousPageHide=function(){
						var hide=false;
						if($scope.offset==0){
							hide=true;
							}
						return hide;
					};
					$scope.nextPageHide=function(){
						var hide=false;
						if($scope.listAlphaNumeric != undefined){
						if($scope.offset>=($scope.totalNumbers-$scope.loadsPerPage)){
							hide=true;
							}
						}
						return hide;
					};
					$scope.nextPage=function(){
						if($scope.listAlphaNumeric != undefined){
						if(($scope.offset+$scope.loadsPerPage)<$scope.totalNumbers){
						$scope.offset=$scope.offset+$scope.loadsPerPage;
						var command="command=getOffsetList&input="+$scope.listAlphaNumeric[24];
						dataFetch.getSingle(command).success( function(response1) {
						       $scope.listAlphaNumeric=response1;
					          });
						}
						}
					};
					$scope.prevPage=function(){
						if(($scope.offset-$scope.loadsPerPage)>=0){
							$scope.offset=$scope.offset-$scope.loadsPerPage;
							var command="command=getPreviousList&input="+$scope.listAlphaNumeric[0];
							dataFetch.getSingle(command).success( function(response1) {
							       $scope.listAlphaNumeric=response1;
						          });
							}
					};
					$scope.firstPage=function(){
						$scope.validatePhoneNumber();	
					};
					$scope.lastPage=function(){
						if($scope.listAlphaNumeric != undefined){
						var remainder=($scope.totalNumbers)%($scope.loadsPerPage);
						if(remainder==0)
						  {remainder=25;}
						$scope.offset=($scope.totalNumbers)-(remainder);
						var command="command=getLastList&input="+$scope.listAlphaNumeric[0]+"&remainder="+remainder;
						dataFetch.getSingle(command).success( function(response1) {
						       $scope.listAlphaNumeric=response1;
						      });
						}
					};
			 
		}]);
	})(window.angular);
    </script>
</head>
<body>
    <div id="nonFooter" ng-controller="mainPage">
	<div id="container">
     <table id="body" cellspacing="0" cellpadding="0">
      <tr>
       <td id="bodyInt" valign="top">
	    <div ng-include src="'htmlResources/header.html'"></div>
	    <div ng-include src="'htmlResources/tabs.html'"></div>
	    <!-- BEGIN BODY CONTENT -->
	    <table cellpadding="0" cellspacing="0" id="content">
         <tr>
          <td id="contentInt1">
            <h2>Phone Application</h2>
            <br/>
            Please enter a 7 or 10 digit phone number:<br/><br/>
            <form name="form1">
            <input name="input_phone" ng-model="phonenumber">
            <input type="submit" name="submit_phone" value="Submit" ng-click="validatePhoneNumber()">
            <p ng-show="showValidationError" style="color:red;">*{{validationMessage}}</p>
            </form>
            <br/>
            <span ng-show="showTotalNumbers">Total number of combinations: {{totalNumbers}}</span>
            
            <div style="overflow:auto;max-height:800px;min-height:500px;table-layout:fixed;" ng-show="showTotalNumbers">
		<table width="100%" cellspacing="0" cellpadding="0" class="table1" id="applicationsTable">
			<thead>	
			    <tr style="background-color:#e3dec2;"> 
					<td ng-repeat="column in columns.data track by $index" style="background-color:#e3dec2;white-space: nowrap;">{{column.header}}</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in listAlphaNumeric">
				  	<td>{{row}}</td>
				</tr>
			</tbody>
			<tfoot>
			<td colspan="25">
               <div id="digg_pagination">
                 
                 <ul style="list-style: none;">
                    <li style="display: inline">
                    <a href ng-click="firstPage()">First</a>
                    </li>
                    <li style="display: inline">
                    <a href ng-click="prevPage()" ng-hide="previousPageHide()">&lt;&lt; Previous</a>
                    <label ng-hide="!previousPageHide()">&lt;&lt; Previous</label>
                    </li>
                    <li style="display: inline">
                    <a href ng-click="nextPage()" ng-hide="nextPageHide()">Next &gt;&gt;</a>
                    <label ng-hide="!nextPageHide()">Next &gt;&gt;</label>
                    </li>
                    <li style="display: inline">
                    <a href ng-click="lastPage()">Last</a>
                    </li>
                    <li style="display: inline">
                    <div ng-show="displayPage">PAGE {{currentPage()}} of {{paginationRange()}}</div>
                    </li>
                  </ul>
                </div>
            </td>
			</tfoot>
		</table>	
		</div>
              
          </td>
         </tr>
         </table>
       </td>
      </tr>
     </table>
    </div>
    </div>
    <div ng-include src="'htmlResources/footer.html'"></div>
</body>
</html>
